:root {
    --background-color: #181818;
    --title-color: #e50914;
    --text-color: #f6f6f6;
    --box-color: #6c6767;
}

html {
    background-color: var(--background-color);
}

.homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-items: center;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.List {
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    box-shadow: 0px 1px 9px var(--box-color);
}